<div class="container">
    <div class="form-group">
        <label>Goal Name</label>
        <input class="form-control" type="text" ng-model="goal.name" placeholder="What is your goal name?">

        <label>Description</label>
        <textarea
                type="text"
                ng-model="goal.description"
                placeholder="Please describe your goal"
                class="form-control"
                rows="5">
        </textarea>

        <label>Goal Steps</label>
        <input class="form-control"

            <!--<pre>Selected date is: <em>{{ dt | date:'fullDate' }}</em></pre>-->
            <label>Finish Date</label>

            <div class="row">
                <div class="col-md-6">
                    <p class="input-group">
                        <input type="text" class="form-control" datepicker-popup="{{ format }}" ng-model="dt"
                               is-open="opened"
                               min-date="minDate" max-date="'maxDate'" datepicker-options="dateOptions"
                               date-disabled="disabled(date, mode)" ng-required="true" close-text="Close"/>
              <span class="input-group-btn">
                <button class="btn btn-default" ng-click="open($event)"><span
                        class="glyphicon glyphicon-calendar"></span></button>
              </span>
                    </p>
                </div>
            </div>



        <button class=" btn btn-sm btn-success" ng-click="updateGoal()">Save Changes</button>
        <button class="btn btn-sm btn-danger" ng-click="deleteGoal()">Delete Goal</button>

    </div>
</div>
