<div class="intro-header">

    <div class="container">

        <div class="row" style="align-items: center">
            <div class="col-lg-12">
                <div class="intro-message">
                    <p style="font-family: 'Ubuntu', sans-serif; color: #27fdbd; font-size: 9em; text-align: center">
                        <img style="width: 1em" src="img/icon.png">
                        Trackr
                    </p>

                    <p style="font-size: 3.5em; text-align: center; color: #ffffff; font-family: Shadows Into Light">
                        "A goal without a plan is just a wish."
                    </p>
                    <p style="font-family: Shadows Into Light; color: #ffffff; font-size: 2em">
                        -Antoine de Saint-Exupery
                    </p>
                    <br>

                        <ul class="list-inline intro-social-buttons" style="opacity: .7; text-align: center">

                                <li ng-repeat="goal in goals">

                                    <div style="padding-top: .1em"
                                         class="btn"
                                         ng-class="{'btn-default': !goal.clicked, 'btn-primary': goal.clicked}"
                                         ng-click="activeButton(goal)">
                                                    <span style="font-size: 2em">{{ goal.name }}
                                                        <div style="font-size: .7em">
                                                            <em>{{ goal.timeFrame.days }} days left</em>
                                                        </div>
                                                    </span>
                                                    <span>

                                                            <a href="#/detail-page/{{goal.id}}" class="btn btn-info"
                                                               style=" vertical-align: text-top; border-width: .25em; border-color: #bdbdbd">
                                                                <i style="color: #2e2e2e; font-size: 3em"
                                                                   class="fa fa-tasks"></i>
                                                            </a>
                                                    </span>
                                    </div>
                                </li>
                        </ul>
                                <div>
                                    <a href="#/add-a-goal" class="btn btn-info btn-lg">
                                        <span>
                                            <span style="font-size: 1.7em"> Add A Goal <i class="fa fa-plus"></i></span>
                                        </span>
                                        <span>

                                        </span>
                                    </a>
                                 </div>
                </div>
            </div>
        </div>

    </div>

</div>
<div class="content-section-a" style="text-align: center">

    <div class="container">

        <div class="row">
            <div>

                <div class="clearfix"></div>
                <h3 class="section-heading" style="font-family: Ubuntu, sans-serif; font-size: 5em; color: #005A7D">Active Steps</h3>
                <br>
                <br>
                <ul class="list-inline" style="text-align: center">

                    <li ng-repeat="goal in goals" style="padding: .5em">
                    <li ng-show="anythingClicked" ng-repeat="goal in goals | filter: {clicked: true}">
                        <ng-include src="activeGoals"></ng-include>

                    </li>
                    <li ng-show="!anythingClicked" ng-repeat="goal in goals">
                        <ng-include src="activeGoals"></ng-include>

                    </li>
                </ul>
        </div>

    </div>
</div>
</div>
</div>
</div>
<footer>
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <ul class="list-inline" style="color: #005A7D">
                    <li>
                        <a href="#home" style="color: #005A7D">Home</a>
                    </li>
                    <li class="footer-menu-divider" style="color: #005A7D">&sdot;</li>
                    <li>
                        <a href="#/add-a-goal" style="color: #005A7D">Add A Goal</a>
                    </li>
                    <li class="footer-menu-divider" style="color: #005A7D">&sdot;</li>
                    <li>
                        <a href="#/journal" style="color: #005A7D">Journal</a>
                    </li>
                    <li class="footer-menu-divider" style="color: #005A7D">&sdot;</li>
                    <li>
                        <a href="#/achievements" style="color: #005A7D">Achievements</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</footer>