/* app css stylesheet */

.menu {
  list-style: none;
  border-bottom: 0.1em solid black;
  margin-bottom: 2em;
  padding: 0 0 0.5em;
}

.menu:before {
  content: "[";
}

.menu:after {
  content: "]";
}

.menu > li {
  display: inline;
}

.menu > li:before {
  content: "|";
  padding-right: 0.3em;
}

.menu > li:nth-child(1):before {
  content: "";
  padding: 0;
}

.detail-body-color {
    background-color: #00bfff;
}

.detail-title {
    margin-top: 15px;
    font-family: 'Ubuntu';
    font-size: 2.5em;
    color: white;
    text-align: center;
}

.detail-steps {
    font-family: 'Ubuntu';
    font-size: 1.2em;
    color: #00bfff;
    margin-top: -10px;
    margin-bottom: -5px;
}

.detail-desc {
    font-family: 'Ubuntu';
    font-size: 1.5em;
    color: orangered;
}

.checkbox-label {
    position: relative;
    vertical-align: middle;
    bottom: 1px;
}

.checkbox label::before {
    margin-top: 6px;
    border-width: 3px;
    border-color: #00bfff;
}

.checkbox label::after {
    margin-top: 6px;
}

.detail-box {
    margin-top: -5px;
    padding: 15px;
    background-color: white;
    border-radius: 15px;
    margin-bottom: 0px;
}

.active-box {
    padding: 15px;
    border: 5px solid lightgreen;
    background-color: white;
    border-radius: 15px;
}

.inactive-box {
    padding: 15px;
    border: 5px solid red;
    background-color: white;
    border-radius: 15px;
}

.act-step {
    margin-left: 10px;
    color: orangered;
    font-size: .85em;
}

.edit-step {
    margin-left: 5px;
    color: darkblue;
    font-size: .85em;
}

.trash-step {
    margin-left: 5px;
    color: #008000;
    font-size: .85em;
}

.undo-step {
    margin-left: 5px;
    color: #ff0000;
    font-size: .85em;
}

.but-cust {
    margin-top: 0px;
}

.mountain {
    width: 5em;
    color: white !important;
}

body {
    margin: 40px;
}
#accordion .glyphicon {
    margin-right: 10px;
}
.panel-collapse > .list-group .list-group-item:first-child {
    border-top-right-radius: 0;
    border-top-left-radius: 0;
}
.panel-collapse > .list-group .list-group-item {
    border-width: 1px 0;
}
.panel-collapse > .list-group {
    margin-bottom: 0;
}
.panel-collapse .list-group-item {
    border-radius: 0;
}
.panel-collapse .list-group .list-group {
    margin: 0;
    margin-top: 10px;
}
.panel-collapse .list-group-item li.list-group-item {
    margin: 0 -15px;
    border-top: 1px solid #ddd;
    border-bottom: 0;
    padding-left: 30px;
}
.panel-collapse .list-group-item li.list-group-item:last-child {
    padding-bottom: 0;
}
.panel-collapse div.list-group div.list-group {
    margin: 0;
}
.panel-collapse div.list-group .list-group a.list-group-item {
    border-top: 1px solid #ddd;
    border-bottom: 0;
    padding-left: 30px;
}

