<div class="detail-body-color">
    <div class="container">
        <div class="col-lg-6">
            <p class="detail-title">
                {{ goal.name }}
            </p>

            <!-------------->
            <!--DETAIL BOX-->
            <!-------------->
            <div class="detail-box">
                <p class="detail-desc">
                    {{ goal.description }}
                </p>
                <i ng-click="addStepEdit = true" ng-hide="addStepEdit == true" class="btn but-cust btn-success">
                    <i class="fa fa-plus fa-lg"></i> Add Step</i>
                <div align="center" ng-show="addStepEdit == true">
                    <input ng-model="step" placeholder="Enter Step Description" maxlength="45" class="form-control" style="max-width: 400px"/>
                    <label style="margin-top: 10px; margin-right: 150px">Select Time Frame</label><div class="input-group" style="margin-top: 0px; max-width: 400px">
                        <select ng-model="timeFrame" class="form-control"
                                ng-options="timeFrame.id as timeFrame.name for timeFrame in timeFrames"></select>
                        <span class="input-group-btn">
                            <button class="btn btn-success but-cust" type="button" ng-click="stepAdd(goal, step)">Save Step</button>
                            <button class="btn btn-danger but-cust" type="button" ng-click="addStepEdit = false">Cancel</button>
                        </span>
                    </div>
                </div>
            </div>

            <!-------------------->
            <!--ACTIVE STEPS BOX-->
            <!-------------------->
            <div class="panel panel-success"
                 style="border-radius: 15px; margin-top: 10px; margin-bottom: 0px;"
                 ng-hide="activeGoalsEmpty() == 0">
                <div class="panel-heading"
                     style="border-top-left-radius: 15px; border-top-right-radius: 15px; text-align: center;
                     font-size: 1.5em; font-family: Ubuntu; padding-top: 2px; padding-bottom: 2px">
                    Active
                    Steps
                </div>
                <div class="panel-body">
                    <div class="detail-steps ">
                        <div ng-repeat="childGoal in goal.child_goals | filter: {status: true, complete: false}">
                            <div ng-if="!childGoal.hasOwnProperty('editing') || childGoal.editing == false">
                                <i ng-click="completeChange(childGoal, true)" tooltip-placement="left"
                                   tooltip="Goal Complete!"
                                   class="act-step fa fa-check-square-o"
                                   style="color: #008000; margin-left: 0px; margin-right: 5px"></i>
                                {{ childGoal.step }}
                                <ng-include src="activeButtons"></ng-include>
                            </div>
                            <div ng-show="childGoal.editing == true"><input ng-model="childGoal.step"
                                                                            ng-keypress="stepChange($event, childGoal)"/>
                                <ng-include src="activeButtons"></ng-include>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!---------------------->
            <!--INACTIVE STEPS BOX-->
            <!---------------------->
            <div ng-hide="inactiveGoalsEmpty() == goal.child_goals.length" class="panel panel-danger"
                 style="border-radius: 15px; margin-top: 10px; margin-bottom: 0px;">
                <div class="panel-heading"
                     style="border-top-left-radius: 15px; border-top-right-radius: 15px; text-align: center;
                     font-size: 1.5em; font-family: Ubuntu; padding-top: 2px; padding-bottom: 2px">
                    Inactive
                    Steps
                </div>
                <div class="panel-body">
                    <div class="detail-steps ">
                        <div ng-repeat="childGoal in goal.child_goals | filter: {status: false, complete: false}">
                            <div ng-if="!childGoal.hasOwnProperty('editing') || childGoal.editing == false">
                                {{ childGoal.step }}
                                <ng-include src="inactiveButtons"></ng-include>
                            </div>
                            <div ng-show="childGoal.editing == true"><input ng-model="childGoal.step"
                                                                            ng-keypress="stepChange($event, childGoal)"/>
                                <ng-include src="inactiveButtons"></ng-include>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!----------------------->
            <!--COMPLETED STEPS BOX-->
            <!----------------------->
            <div ng-hide="completeGoalsEmpty() == 0" class="panel panel-warning"
                 style="border-radius: 15px; margin-top: 10px">
                <div class="panel-heading"
                     style="border-top-left-radius: 15px; border-top-right-radius: 15px; text-align: center;
                     font-size: 1.5em; font-family: Ubuntu; padding-top: 2px; padding-bottom: 2px">
                    <i class="act-step fa fa-trophy" style="color: orange; margin-left: 0px; margin-right: 5px"></i>
                    Completed
                    Steps
                    <i class="act-step fa fa-trophy" style="color: orange; margin-left: 5px; margin-right: 0px"></i>
                </div>
                <div class="panel-body">
                    <div class="detail-steps ">
                        <div ng-repeat="childGoal in goal.child_goals | filter: {complete: true}">
                            {{ childGoal.step }}
                            <ng-include src="completeButtons"></ng-include>
                        </div>
                    </div>
                </div>
            </div>

        </div>

        <!-------------------->
        <!--MOUNTAIN GRAPHIC-->
        <!-------------------->
        <div class="col-lg-6" style="min-height: 620px">

            <div style="position: relative; left: 0; top: 0;">
                <img src="img/white-mountain.png" style="position: absolute; top: 70px; left: 0px; z-index: 1;">
                <marquee behavior="slide" scrollamount="1.5" direction="left"
                         style="position: relative; margin-bottom: -200px; margin-left: 45px; margin-right: -70px">
                    <img src="img/floatCloud.png" width="144" height="88" alt="Cloud"/></marquee>
                <marquee behavior="slide" scrollamount="2" direction="right"
                         style="position: relative; top: 50px; left: 0px; z-index: 4; margin-left: -30px; margin-right: 10px;">
                    <img src="img/floatCloud.png" width="216" height="132" alt="Cloud"/></marquee>
                <marquee behavior="scroll" scrollamount="4" direction="left" loop="1"
                         style="position: relative; top: 0px; left: 0px; z-index: 3; margin-left: -30px; margin-right: -500px">
                    <img src="http://www9l.incredimail.com/scache/im//gallery/content/200806181240/content_11230_prev.gif" width="80" alt="Geese"/></marquee>
                <marquee behavior="scroll" scrollamount="5" direction="right" loop="1"
                         style="position: relative; top: 300px; left: 0px; z-index: 2; margin-left: 0px; margin-right: -5px">
                    <img src="https://slm-assets3.secondlife.com/assets/3908782/original/deer2r.gif?1310791673" width="50" alt="deer"/></marquee>
                <img src="img/pinetreeleft.png" height="100"
                     style="position: relative; top: 190px; left: -20px; z-index: 6">
                <img src="img/pinetreeright.png" height="120"
                     style="position: relative; top: 180px; left: 340px; z-index: 5">

            </div>


            <!-- Codes by HTML.am -->


        </div>

    </div>
</div>