<div class="detail-body-color">
    <div class="container">
        <div class="col-lg-6">
            <p class="detail-title">
                {{ goal.name }}
            </p>

            <div class="detail-box">
                <p class="detail-desc">
                    {{ goal.description }}
                </p>
                <a class="btn but-cust btn-success" href="#"><i class="fa fa-plus fa-lg"></i> Add Step</a>
            </div>
            <div class="panel panel-success" style="border-radius: 15px">
                <div class="panel-heading" style="border-top-left-radius: 15px; border-top-right-radius: 15px; text-align: center; font-size: 1.5em; font-family: Ubuntu; padding-top: 2px; padding-bottom: 2px">Active
                    Steps
                </div>
                <div class="panel-body">
                    <div class="detail-steps ">
                        <div ng-repeat="childGoal in goal.child_goals | filter: {status: true}">
                            <div ng-if="!childGoal.hasOwnProperty('editing') || childGoal.editing == false">
                                <i ng-click="" tooltip-placement="left" tooltip="Goal Complete!" class="act-step fa fa-trophy"
                                   style="color: orange; margin-left: 0px; margin-right: 5px"></i>
                                {{ childGoal.step }}
                                <ng-include src="activeButtons"></ng-include>
                            </div>
                            <div ng-show="childGoal.editing == true"><input ng-model="childGoal.step"/>
                                <ng-include src="activeButtons"></ng-include>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="panel panel-danger" style="border-radius: 15px; margin-top: -21px">
                <div class="panel-heading" style="border-top-left-radius: 15px; border-top-right-radius: 15px; text-align: center; font-size: 1.5em; font-family: Ubuntu; padding-top: 2px; padding-bottom: 2px">Inactive
                    Steps
                </div>
                <div class="panel-body">
                    <div class="detail-steps ">
                        <div ng-repeat="childGoal in goal.child_goals | filter: {status: false}">
                            <div ng-if="!childGoal.hasOwnProperty('editing') || childGoal.editing == false">
                                {{ childGoal.step }}
                                <ng-include src="inactiveButtons"></ng-include>
                            </div>
                            <div ng-show="childGoal.editing == true"><input ng-model="childGoal.step"/>
                                <ng-include src="inactiveButtons"></ng-include>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-6">
            <marquee behavior="slide" scrollamount="3" direction="left" style="margin-bottom: -200px; margin-left: 45px;"><img src="http://pngimg.com/upload/cloud_PNG15.png" width="144" height="88" alt="Cloud" /></marquee>

            <div style="position: relative; left: 0; top: 0;">
                <img src="img/white-mountain.png" style="position: absolute; top: 0px; left: 0px; z-index: 1;">
                <marquee behavior="slide" scrollamount="4" direction="right" style="position: relative; top: 50px; left: 0px; z-index: 3; margin-right: 90px;"><img src="http://pngimg.com/upload/cloud_PNG15.png" width="144" height="88" alt="Cloud" /></marquee>
            </div>

            <!-- Codes by HTML.am -->


        </div>

    </div>
</div>