<!--<div class="first circle"></div>-->


<div class="panel panel-default" style="vertical-align: text-top" ng-init="calculatePercent(goal)">
    <div style="font-size: 2em; color: #2D9C75" class="panel-heading">{{goal.name}}</div>
    <br>
    <span progress-circle="goal.percent">
    </span><span>{{goal.percent * 100}}%</span>
    <div class="panel-body"
         ng-controller="DetailPageCtrl"
         style="font-size: 1.5em"
         ng-repeat="childGoal in goal.child_goals">
        <i class="fa"
            ng-class="{'fa-square-o': !childGoal.complete, 'fa-check-square-o': childGoal.complete}"
            ng-click="goalChange(childGoal, $parent.goal)">
        </i> {{childGoal.step}}
    </div>

</div>
