<div class="detail-box">
    <p class="detail-desc">
        {{ goal.description }}
    </p>
    <i ng-click="$parent.addStepEdit = true" ng-hide="$parent.addStepEdit == true" class="btn but-cust btn-success">
        <i class="fa fa-plus fa-lg"></i> Add Step</i>

    <div align="center" ng-show="addStepEdit == true">
        <input ng-model="step" placeholder="Enter Step Description" maxlength="45" class="form-control"
               style="max-width: 400px; text-align: center;"/>
        <label style="margin-top: 10px; margin-right: 150px">Select Time Frame</label>

        <div class="input-group" style="margin-top: 0px; max-width: 400px">
            <select ng-model="$parent.timeFrame" class="form-control"
                    ng-options="timeFrame.id as timeFrame.name for timeFrame in timeFrames"></select>
            <span class="input-group-btn">
                <button class="btn btn-success but-cust" type="button" ng-click="stepAdd(goal, step)">Save
                    Step
                </button>
                <button class="btn btn-danger but-cust" type="button" ng-click="$parent.addStepEdit = false">
                    Cancel
                </button>
            </span>
        </div>
    </div>
</div>